/**
 * @class Ext.field.Radio
 */

@mixin radiomark($color: #000, $radio-size: 16px) {
  @include insertion($radio-size, $radio-size, ($radio-size * -.5) + 18, auto);
  right: ($radio-size * -.5) + 35;
  background-color: $color;
  @include border-radius($radio-size);
}

.x-field-radio .x-field-mask {
  @include absolute-position;

  &::after {
    @include radiomark(darken($form-light, 5), 8px);
  }

  &::before {
    @include radiomark($form-light, 16px);
  }
}

.x-input-radio:checked + .x-field-mask::after {
  background: $active-color;
}

.x-item-disabled {
  &.x-field-radio {
    .x-input-radio:checked + .x-field-mask::after {
      background: mix($form-light, $active-color, 60);
    }
  }
}