/* BLUE COLOR THEME */
//$base-color: #112233;
//$primary-color: #8D8D8D;
//$base-gradient: 'glossy';
//$font-family: "cambria","serif"!default;
//$page-bg-color:linear-gradient(to bottom, #F8F7F1 0%, #D9CFB0 100%)!default;
//$form-bg-color: $page-bg-color;

/* MAROON COLOR THEME */
$base-color: #330000;
$primary-color: #8D8D8D;
$base-gradient: 'glossy';
$font-family: 'Salsa', cursive;
$page-bg-color:linear-gradient(to bottom, #F8F7F1 0%, #D9CFB0 100%)!default;
$form-bg-color: $page-bg-color;

$global-row-height: 2em;
$radio-size: 0.7em;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import 'include/buttons';
@import 'include/radios';

@include icon-font(
    'almitonthego',
    inline-font-files(
        'custom/icomoon.woff', woff,
        'custom/icomoon.ttf', truetype,
        'custom/icomoon.svg', svg
    )
);

@include icon("home"  , "\e600", "almitonthego");
@include icon("pencil"  , "\e610", "almitonthego");
@include icon("address-book"  , "\e614", "almitonthego");
@include icon("calendar"  , "\e601", "almitonthego");
@include icon("drawer"  , "\e602", "almitonthego");
@include icon("users"  , "\e603", "almitonthego");
@include icon("users2"  , "\e604", "almitonthego");
@include icon("spinner"  , "\e605", "almitonthego");
@include icon("cogs"  , "\e606", "almitonthego");
@include icon("cog"  , "\e607", "almitonthego");
@include icon("pie"  , "\e608", "almitonthego");
@include icon("stats"  , "\e609", "almitonthego");
@include icon("bars"  , "\e60a", "almitonthego");
@include icon("trophy"  , "\e60b", "almitonthego");
@include icon("remove"  , "\e60c", "almitonthego");
@include icon("remove2"  , "\e60d", "almitonthego");
@include icon("signup"  , "\e60e", "almitonthego");
@include icon("tree"  , "\e60f", "almitonthego");
@include icon("exit"  , "\e612", "almitonthego");
@include icon("stackoverflow"  , "\e613", "almitonthego");
@include icon("checkmark-cir"  , "\e611", "almitonthego");
@include icon("radio-uncheck"  , "\e615", "almitonthego");
@include icon("eye"  , "\e616", "almitonthego");

body.x-ios.x-phone {
  font-size: 90%
}

body.x-android.x-phone {
  font-size: 90%
}

body.x-desktop {
  font-size: 100%
}

a{
  color: $base-color;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

input[type="checkbox"] {
  display:none;
}

.x-toolbar {
  border: none;
  background: $base-color;
  .x-innerhtml {
    color: #E1D9C0;
    font-size: 1.2em;
  }
}

.x-tab {
  min-width: 3.7em;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon:before {
  font-size: 1.3em;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
  color: #CD5C5C;
}

.x-tab .x-button-icon.calendar:before, .x-button .x-button-icon.calendar:before {
  font-size: 1em;
}

.x-tab .x-button-icon.eye:before, .x-button .x-button-icon.eye:before {
  font-size: 1em;
  line-height: 1.5em;
}

.x-tabbar-dark .x-tab {
  color: #E9967A;
}

.x-list .x-list-disclosure {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  border-radius: 28px;
  width: 28px;
  height: 28px;
  top: 14px;
}

.x-list .x-list-disclosure:before {
  font-size: 18px;
  line-height: 29px;
}

.x-list .x-list-item-tpl .x-list-disclosure {
  top: 2em;
}

.x-panel.x-floating, .x-msgbox, .x-form.x-floating {
  padding: 3px;
}

.x-form-label {
  padding: 0.2em 0.4em;
}

.x-field-search .x-field-input .x-form-field {
  margin-left: 1.5em;
}

.x-carousel-indicator-dark span.x-carousel-indicator-active {
  background-color: #CD5C5C;
}

.x-carousel-indicator-dark span {
  background-color: #E9967A;
}

.x-mask.x-has-message .x-mask-inner {
  padding-bottom: 0em;
}

.x-toggle-inner {
  height: 2.5em;
}

.x-toggle-on {
  background-image: -webkit-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -moz-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -o-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  width: 5em;
}

.x-toggle-on:before {
  position:absolute;
  content:'MONTH';
  font-weight: bold;
  font-size: 65%;
  color: #FFB3B2;
  left: 0.3em;
  top: 1em;
}

.x-toggle-off {
  background-image: -webkit-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -moz-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -o-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  width: 5em;
}

.x-toggle-off:before {
  position:absolute;
  content:'WEEK';
  font-weight: bold;
  font-size: 65%;
  color: #FFB3B2;
  right: 0.3em;
  top: 1em;
}

.gpa-green {color: #64AD00;}
.gpa-orange {color: orange;}
.gpa-red {color: darkred;}

.squarebox
{
  height: 1em;
  border: 0.15em solid black;
  border-radius: 3em;
  color: white;
  text-align:center;
  padding:0.1em 0.3em;
  font-size: 80%;
}

.EID {background-color: #660000;}
.TMF {background-color: #663300;}
.DCOM {background-color: #003300;}
.DC {background-color: #003399;}
.SP {background-color: #330066;}
.WDD {background-color: #990000;}
.SD {background-color: #993300;}
.WAD {background-color: #006600;}
.CAP {background-color: #0066FF;}
.E {background-color: #660066;}
.WP {background-color: #FF0000;}
.SRM {background-color: #FF3300;}
.DM {background-color: #00FF00;}
.MGMT {background-color: #00CCFF;}
.AL {background-color: #990066;}
.P {background-color: #FF6666;}
.AC {background-color: #FF6633;}
.LA {background-color: #CCCC33;}
.CD {background-color: #9999FF;}
.DIGM {background-color: #FF99FF;}
.DSCI {background-color: #FF9900;}
.DCAP {background-color: #667700;}

.SWE {background-color: #E69000;}
.IMS {background-color: #00A60A;}
.MAC {background-color: #1300BD;}
.DGM {background-color: #9000E6;}
.NONE {background-color: #FFFFFF;}

.grade {
  background-color: $base-color;
  color: #E1D9C0;
}

.calendar-event {
  color: $base-color;
}

.fake-disclosure {
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
  width: 22px;
  height: 22px;
  font-family: 'Pictos';
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 24px;
  text-shadow: 0 0 0;
  overflow: visible;
  border: 1px solid $base-color;
  background-color: $base-color;
}

.inner-toolbar {
  background-color: $primary-color;
  .x-innerhtml {
    color: black;
    font-size: 90%;
    text-shadow: none;
  }
}

.inner-toolbar-button {
  color: #E1D9C0;
  background-image: -webkit-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -moz-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: -o-linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
  background-image: linear-gradient(top, #4d0000, #1a0000 50%, #000000 51%, #000000);
}

.search-results-label {
  font-weight: bold;
  font-size: 80%;
  padding: 0.5em;
  text-align: left;
  color: $base-color;
}

.custom-square-checkbox {
  width: 20px;
  height: 20px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #45484d 0%, #45484d 40%, #45484d 100%);
  background: -moz-linear-gradient(top, #45484d 0%, #45484d 40%, #45484d 100%);
  background: -o-linear-gradient(top, #45484d 0%, #45484d 40%, #45484d 100%);
  background: -ms-linear-gradient(top, #45484d 0%, #45484d 40%, #45484d 100%);
  background: linear-gradient(top, #45484d 0%, #45484d 40%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#45484d',GradientType=0 );
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
  position: relative;
}

input[type=checkbox] + label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(bottom, #454841 0%, #ffffff 100%);
  background: -moz-linear-gradient(bottom, #454841 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #454841 0%, #ffffff 100%);
  background: -ms-linear-gradient(bottom, #454841 0%, #ffffff 100%);
  background: linear-gradient(bottom, #454841 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454841', endColorstr='#ffffff',GradientType=0 );
}

input[type=checkbox] + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #4d0000;

  background: -webkit-linear-gradient(top, #4d0000 0%, $base-color 100%);
  background: -moz-linear-gradient(top, #4d0000 0%, $base-color 100%);
  background: -o-linear-gradient(top, #4d0000 0%, $base-color 100%);
  background: -ms-linear-gradient(top, #4d0000 0%, $base-color 100%);
  background: linear-gradient(top, #4d0000 0%, $base-color 100%);

  top: 1px;
  left: 1px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
